@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,100&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  background: url(cloudynight-min.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

#key {
  margin: 5%;
  background-color: rgba(17, 17, 17, 0.6);
  width: 100%;
  max-width: 200px;
  color: #ffffff;
  text-align: center;
  padding: 1%;
  border-radius: 4%;
}

.left-align {
  text-align: left;
}
.box {
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  text-align: center;
}
.box h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #0367fd;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #0367fd;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 270px;
  border-color: #1ffc0f;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #1ffc0f;
  padding: 14px 35px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #1ffc0f;
  color: #1ffc0f;
}

.forgot-pass {
  color: chartreuse;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #fc1ca1;
  text-decoration: none;
}
